.all-blocks{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-around;
	padding-top:50px;
}

.block{
	display:flex;
	flex-direction:column;
	width:320px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 80px;

}

.flaticonS1{
	width:120px;
	padding-bottom: 20px;
}



