.button {
	padding: 8px 10px;
	border-radius: 4px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
}

.red-button{
	color: #dc221a;
	border:2px solid #dc221a;
}

.white-button{
	color: #fff;
	border:2px solid #fff;	
}

.orange-button{
	background-color:rgb(206, 93, 33);
	color: #fff;
  /*border:2px solid #fff;*/
}

.aroundbutton1{
	padding-top:3vh;
}

.aroundbutton2{
	padding-top:80px;
	padding-bottom: 0px;
}

.aroundbutton3{
	padding-top:100px;
	padding-bottom: 200px;
}

.aroundbutton4{
	padding-top:50px;
	padding-bottom: 200px;
}

.white-button:hover{
	background-color: rgba(216, 216, 216, 0.2);}

.red-button:hover{
	color:#fff;
	background-color: rgb(220, 34, 26);}

.orange-button:hover{
	background-color: rgb(257, 97, 13);}
