
.footer{
	/*display: flex;*/
	/*flex-direction:row;*/
	/*justify-content: space-around;*/
	/*flex-wrap:wrap;*/
	/*padding: 40px 60px;*/
}

.arrow{
	padding:40px;
}
.logo-arrow{
	width: auto;
	height:40px;
}

.logo-FB{
	width: auto;
	height:40px;
	padding: 0px 20px;
}

.logo-TA{
	width: auto;
	height:40px;
	padding: 0px 20px;
}

.copyright{
	padding: 20px 0px;
}
.link-network{
	display:flex;
	flex-direction:row;
	justify-content: center;
	padding-top: 40px;
}
.logo-arrow:hover{
	content: url("../img/down-arrow-a.png");}

.logo-FB:hover{
	content: url("../img/facebook-logo-a.png");}
	
.logo-TA:hover{
	content: url("../img/tripadvisor-logotype-a.png");}