/*Fonts*/
@import url("fonts.css");


/*Components*/
@import url("wrapper.css");
@import url("button.css");
@import url("argument.css");
@import url("slick/slick-amendments.css");
@import url("map.css");
@import url("footer.css");
@import url("bagels.css");

body {
	font-family: 'CamingoDos',helvetica;
	margin:0px;
	color:#3b444f;
	font-size: 16px;
}

h3 {
	font-size:33px;
	margin:0px;
	padding-top: 80px;
	padding-bottom: 30px;
}

.white-part {
	display: flex;
	flex-direction:column;
	text-align:center;
}

.redline {
  border-bottom:1px solid #dc221a;
  margin:0px 47vw;
  margin-bottom: 80px;
}

.greyline {
	border-bottom:1px solid #e4e4e4;
  margin:0px 5vw;
  margin-top: 50px;
}

.arg-title {
	color:#dc221a;
	font-size: 25px;
	padding-bottom: 20px;
}

.paddingLR40 {
	padding-left: 40px;
	padding-right:40px;
}
